<div class="jumbotron">
  <h1 class="container">Title:
    <%= @course.title %></h1>
  <h3 class="container">By :
    <%= @course.User.name %>
  </h3>

</div>

<div class="list-group container">
  <div class="list-group-item active">
    <%= @course.title %> lectures :
  </div>
  <% @lectures.each do |lecture| %>
  <%= link_to lecture.id, lecture ,{ :class=>"list-group-item" }%>
  <% end %>
</div>

<div class="container">
  <% if @course.User.id==current_user.id %>
  <%= link_to 'Edit', edit_course_path(@course) ,{ :class=>"btn btn-info" }%>
  <% end%>
  <%= link_to 'Back', courses_path ,{ :class=>"btn btn-info" }%>
</div>
